{% load crispy_forms_tags %}
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="Password1"><br>
        <input type="password" name="password2" placeholder="Password2"><br>
        <button type="submit">Register</button>
    </form>
    <p>Registiratsiya qiling! <a href="{% url 'login' %}">Login</a></p>
</body>
</html>
